.header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(224, 222, 222);
  z-index: 100;
}

.header:hover{
  cursor: pointer;
}

.left-section {
  display: flex;
  align-items: center;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.right-section {
  width: 180px;
  display: flex;
  margin-right: 20px;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;

}

.search-button {
  height: 40px;
  width: 66px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  background-color: rgb(240, 240, 240);
  margin-left: -1px;
  margin-right: 10px;
}

.search-icon {
  height: 25px;
  margin-top: 4px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(250, 247, 247);
}

.search-bar {
  display: flex;
  flex: 1;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgb(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.voice-search-icon {
  height: 24px;
  margin-top: 4px;

}

.upload-icon{
  height: 24px;

}

.youtube-apps-icon{
  height: 24px;

}

.notifications-icon{
  height: 24px;

}

.user-image-icon{
  height: 32px;
  border-radius: 16px;

}


.notification-div{
  position: relative;
}

.notifications{
  position: absolute;
  top: 0;
  right: -2px;
  background-color: red;
  color: white;
  border: 2px;
  top: -2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding: 2px 5px 2px 5px;
  border-radius: 20px;
}

